.left-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;

  & > .content-container {
    height: 0%
  }
}
.left-menu {
  $horizontal-padding: 18px;
  $header-height: 52px;
  flex-shrink: 0;
  background-color: #363636;
  user-select: none;
  color: #9FA8BA;

  & > .header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: $header-height; 
    line-height: $header-height;
    background-color: #00017A;
    color: #ffffff;
    letter-spacing: 1.1px;
  }

  .section {
    padding: 23px 0 0 0 ;
  }
  .section-header {
    display: block;
    font-family: 'Avenir-Black';
    font-size: 11px;
    color: #D1D1D1;
    letter-spacing: 0.05em;
    line-height: 14px;
    padding: 0 0 10px $horizontal-padding;
    text-transform: uppercase;
  }

  .link {
    font-family: 'Avenir-Book';
    font-size:14px;
    display: block;
    color: #979797;
    padding: 9px 0 9px $horizontal-padding;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #535353;
      color: #ffffff;
    }

  }
  .dropdown {
    @extend .link
  }
  
  .wrapcontent {
    display: inline-block;
  }

  .triangle {
    @extend .wrapcontent;
    float: right;
    margin-right: 18px;
  }

  .triangle-up {
    @extend .triangle;
    transform: rotate(180deg);
  }

  .dropdown-list {
    margin-left:12px;
  }

  .header-logo {
    width: 102.3px;
    height: 32.4px;
    
  }

  
}

